@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'EliceDigitalBaeum_Regular';
    font-size: 5vw;
  }

html, body { 
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.wrap {
    width: 90%;
    height: 90%;
    background-color: #f8c3c3;
    border-radius: 30px;
    text-align: center;
    border: none;
}

.login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text_box {
    border: 1px solid #bebaba;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    width: 48vw;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    -o-transition: all 0.3s;
	transition: all 0.3s;
}
.text_box:focus{
    border: 1px solid #E6061F;
}

.btn,
.btn::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn {
  background: #E6061F;
  border: 1px solid #E6061F;
  border-radius: 5px;
  color: #fff;
  margin: 5px;
  font-weight: bold;
  width: 50vw;
}

.btn::before,
.btn::after {
  background: #f8c3c3;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #f8c3c3;
}

  
@media screen and (max-width:100px) {
    .wrap {display: none;}
}
@media screen and (min-width:100px) and (max-width:500px) {
    .error {display: none;}
}
@media screen and (min-width:500px) {
    .wrap {display: none;}
}