@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'EliceDigitalBaeum_Regular';
    font-size: 4vw;
    font-weight: bold;
    -webkit-appearance: none;
  }

html, body { 
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.wrap {
    width: 90%;
    height: 90%;
    background-color: #f8c3c3;
    border-radius: 30px;
    text-align: center;
    border: none;
}

.middle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.login {
    font-size: 5vw;
    display: grid;
    place-items: center;
    margin: auto;
    width: 80%;
}

.list{
    height:50vh;
    overflow:scroll;
}

.text_box {
    
    border: 1px solid #bebaba;
    border-radius: 5px;
    text-align: center;
    width: 100%;

}

.text_box:focus{
    border: 1px solid #E6061F;
}

.text_box2 {
    font-size: 4vw;
    border: 1px solid #bebaba;
    border-radius: 5px;
    width: 90%;
    background: #f8c3c3;

}

.text_box2:focus{
    border: 1px solid #E6061F;
}

.btn {
    
    background: #E6061F;
    border: 1px solid #E6061F;
    border-radius: 5px;
    color: #fff;
}

.btn::before,
.btn::after {
  background: #f8c3c3;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #f8c3c3;
}

.lv_btn {
  background: #E6061F;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin:5%;
  padding: 1%;
  width: 80%;
}

.lv_btn::before,
.lv_btn::after {
background: #f8c3c3;
content: '';
position: absolute;
z-index: -1;
}

.lv_btn:hover {
color: #fff;
border: 2px solid #fff;
background-color: #f8c3c3;
}

#manager_btn{
    color: #f8c3c3;
    background-color: #f8c3c3;
    border: #f8c3c3;
}

.select_level{
    font-size: 4vw;
    border-radius: 5px;
    border: 1px solid #bebaba;
    width: 60%;
    background: url("https://img.icons8.com/material-outlined/24/000000/expand-arrow--v1.png") no-repeat 95% 50%;
   /*ios대응*/
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
}
.select_level::-ms-expand {
    display: none;
}

  
@media screen and (max-width:99px) {
    .wrap {display: none;}
}
@media screen and (min-width:100px) and (max-width:1000px) {
    .error {display: none;}
}
@media screen and (min-width:1001px) {
    .wrap {display: none;}
}